<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/precautions.css">

    <title>Covidm</title>
</head>
<body>
    <nav class="navbar navbar-light sticky-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user">Covidm</a>
          <a class="navbar-brand" href="user/logout"> <button class="btn btn-outline-primary">
              logout
          </button> 
          </a>
    <!-- <a class="navbar-brand" href="/about-us"><button>Covid-19 precautions</button></a> -->
        </div>
      </nav>
      <div class="pt-20 mx-auto text-center bg-gray-900">
        <h1 class="text-6xl font-semibold text-primary-lighter">Precautions</h1>
        <div class="subheading">
            <h3 class="text-3xl font-semibold leading-tight   text-white size ">Get Vaccinated</h3>
            <p class="leading-relaxed text-gray-400 text-md md:text-xl"

        </div>
        <div>
            <img src="/images/vaccination.png" class="hero-img" />
        </div>
      </div>

 

    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</html>