.text-6xl{
    font-size:4rem;
}

.text-primary-lighter {
    --text-opacity: 1;
    color: #2b8ede;
    color: rgba(43.24799999999999,141.53520000000003,221.95200000000003,var(--text-opacity));
}

.text-center{
    text-align: center;
    
}

.pt-20{
    padding-top: 5rem;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.bg-gray-900 {
    --bg-opacity: 1;
    background-color: #1a202c;
    background-color: rgba(26,32,44,var(--bg-opacity));
}

.hero-img{

    margin-left:auto;
    margin-right:auto;
    height:400px;
    max-width:100%;
    margin-right:500px;
    margin-top:-200px;
    margin-left:200px;
}

.react-reveal{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.leading-tight {
    line-height: 1.25;
}
.text-3xl {
    font-size: 1.875rem;
}
.font-semibold {
    font-weight: 600;
}

.text-white{
    color:white;
}

.size{
    font-size:2.25rem;
}

.subheading{
    padding-top:2rem;
    padding-bottom: 6rem;
    margin-right:600px;
    
    
}


.md\:text-xl {
    font-size: 1.25rem;
}
.text-gray-400 {
    --text-opacity: 1;
    color: #cbd5e0;
    color: rgba(203,213,224,var(--text-opacity));
}
.leading-relaxed {
    line-height: 1.625;
}

.sub{
    text-align: center;
    margin-left:550px;
    padding-bottom: 5rem;
}

.vaccine-para{
    margin-left: 550px;

}

.div-2{
    padding-top: 3rem;
}

.md\:text-4xl {
    font-size: 2.25rem;
}

.md\:text-4xl {
    font-size: 2.25rem;
}

.md\:text-xl {
    font-size: 1.25rem;
}
.text-gray-700 {
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74,85,104,var(--text-opacity));
}
.pt-2 {
    padding-top: .5rem;
}
.leading-relaxed {
    line-height: 1.625;
}

.social-distance{
    height: 400px;
    max-width: 100%;
    margin-top:-200px;
    padding-left:3rem;
}

.font-small{
    font-size: medium;
}

.place-1{
    margin-left:500px;

    
}

.main-h3{
    margin-left: 500px;
    padding-top:10rem;

}

.masks{
    padding-top:6rem;
    padding-bottom:2rem;
}

.mask-para{
    padding-bottom:5rem;
}

.mask-lady{
    margin-left:950px;
    margin-top:-300px;
}