
.header{
    background-color: #5c65f7}

.heading1{
    font-family: 'Lato', sans-serif;
    color:white;
    margin-left: 450px;
    margin-top:100px;
    font-size: 3rem;
    


}

.btn1{
    margin-left:900px;
    margin-top:30px;
}

.btn2{
  margin-top:30px;
  margin-left:50px;
  
}

.sub-header{
  margin-left:500px;
  margin-top:10px;
}


.doctor_image{
  margin-left:500px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:  #151719;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.waviy {
  /* position: relative; */
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 3rem;

}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.heading_waviy{
  

}


/* .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
/*   
  .typing-demo {
    width: 35ch;
    animation: typing 2s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    margin-left : -500px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


.find{
    margin-top:500px;
    margin-left: 700px;
    margin-bottom: -300px; 
}
 */
