
.header{
    background-color: #5c65f7}

.heading1{
    font-family: 'Lato', sans-serif;
    color:white;
    margin-left: 500px;
    margin-top:100px;
    


}

.btn1{
    margin-left:900px;
    margin-top:30px;
}

.btn2{
  margin-top:30px;
  margin-left:50px;
  
}



/* .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
/*   
  .typing-demo {
    width: 35ch;
    animation: typing 2s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    margin-left : -500px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


.find{
    margin-top:500px;
    margin-left: 700px;
    margin-bottom: -300px; 
}
 */
