.header1{
    align-items: center;
}

.main{
    font-size:3rem;
    line-height: 1;
    font-weight: 700;

}

.hero{
    vertical-align: middle;
    margin-left: 950px;
    height:auto;
    width: 100%;
    display:block;
    margin-top: -200px;
    margin-bottom:200px;


}

.react-reveal{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mt-6{
    margin-top:1.5rem;

}

.font-light{
    font-weight:300;

}

.text-xl{
    font-size:1.25rem;
}

.text-center{
    text-align: center;
    
}

.black{
    background-color: black;
}

.text-white{
    color:white;
}

.text-5xl{
    font-size:3rem;
   
}

.font-semibold{
    font-weight: 600;
    font-family: 'Oxygen', sans-serif;
    font-size:4rem;
    
}

.pb-24{
    padding-bottom:6rem;

}

.pt-10{
    padding-top: 2.5rem;
}

.px-6{
    padding-left:1.5rem;
    padding-right:1.5rem;
}

.px-16{
    padding-left: 4rem;
    padding-left:4rem;
}

.py-5{
    padding-bottom:1.25rem;
    padding-right:1.25rem;

}

.rounded{
    border-radius: .24rem;

}

.bg-primary{
    --bg-opacity: 1;
    background-color: #4199e1;
    background-color: rgba(65.3055,153.35444999999999,225.39449999999997,var(--bg-opacity));
}

.text-lg{
    font-size:1.125rem;
}

.text-large{
    font-size:3rem;
    font-weight: bolder;
}

.size{
    height:200px;
    width:200px;
}

.space{
    padding-bottom: 5rem;
    padding-top:-5rem;
    margin-top:-200px;
    padding-top:2rem;


    
}

.btn-space{
    margin-top:2rem;
    display: inline;
    
}

.blue{
    background-color: #add8e6;
}

.box{
    padding-top:2rem;
    padding-bottom:4rem;
}

.pp{
    margin-top:-200px;
}