.Main-heading{
    margin-left:600px;

}
.logout-btn{
    margin-left: 600px;

}


.about-us{
    margin-bottom:30px;
    
}

.chorme-extension{
    margin-top:30px;

}

.search{
    margin-left:700px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }