.Main-heading{
    margin-left:600px;

}
.logout-btn{
    margin-left: 600px;

}


.about-us{
    margin-bottom:30px;
    
}

.chorme-extension{
    margin-top:30px;

}

.search{
    margin-left:700px;
}