<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/user.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covidm User area</title>
</head>
<body>
    <strong>You have logged in</strong>
    <h1>Hello and welcome to covidm</h1>
    <a href="/user/logout"><button>logout</button>
</body>
</html>