<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/donations.css">

    <title>Covidm</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light sticky-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user">Covidm</a>
          <a class="navbar-brand" href="user/logout"> <button class="btn btn-outline-primary">
              logout
          </button> 
          </a>
          </div>
          </nav>

          <div class="pt-10 mx-auto text-center">
              <h2 class="text-5xl font-semibold text-primary-lighter">Donation</h2>

          </div>


          <!-- CaRds  -->
          <div class="unicef-card">
            <div class="card" style="width: 18rem;">
                <img src="/images/unicef.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Unicef</h5>
                  <p class="card-text">UNICEF is working with partners to organize 'JEEVAN RATH', an initiative that provides supplies to people who are unable to afford or access these supplies in sufficient quantities</p>
                  <a href="https://help.unicef.org/in/covid/jeevanrath?campaignID=7011i000000hyrIAAQ&campaignid=13613160620&adgroupid=123562181403&adid=530358488399" class="btn btn-primary">Visit their website</a>
                </div>
              </div>
    
          </div>
      
          <div class="Gavi-card">
            <div class="card" style="width: 18rem;">
                <img src="/images/gavi_logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gavi/Covax</h5>
                  <p class="card-text">Gavi launched the Gavi COVAX Advance Market Commitment (AMC) in June 2020. It assists people in 92 lower-income economies to access safe and effective donor-funded COVID-19 vaccines.</p>
                  <a href="https://www.gavi.org/donate" class="btn btn-primary">Visit their website</a>
                </div>
              </div>
    
          </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</html>